---
import MainLayout from "../layouts/MainLayout.astro";
import PageHeader from "../components/PageHeader.astro";

// SPONSOR LOGO'S
import gemeente from "../assets/logo-gemeente-leiderdorp.jpg";
import fonds1818 from "../assets/fonds1818.jpg";
import cda from "../assets/CDA_logo_2021.jpg";
import polderfabriek from "../assets/Polderfabriek.jpg";
import reyneveld from "../assets/reyneveld.png";
import praxis from "../assets/PraxisEmmerSchepje.jpg";
---

<MainLayout>

<div class="container" style="max-width:1100px;margin:auto;padding:20px;">

  <PageHeader title="🤝 Sponsoren" />

  <div style="
    background:white;
    padding:30px;
    border-radius:24px;
    margin-bottom:25px;
  ">
    <h2>Onze sponsoren</h2>

    <p>
      De Stichting Schooltuinen Leiderdorp kan haar activiteiten uitvoeren
      dankzij de steun van betrokken organisaties, bedrijven en instellingen.
      Hun bijdrage helpt ons bij het onderhoud van de tuinen, de aanschaf van
      materialen en het aanbieden van schooltuinonderwijs aan honderden
      kinderen uit Leiderdorp.
    </p>
  </div>

  <div style="
    background:white;
    padding:30