---
import HamburgerMenu from "./HamburgerMenu.astro";
const base = "/schooltuinleiderdorp";
---

<header style="display:flex;align-items:center;justify-content:space-between;padding:10px 0;position:relative;z-index:200;">
  <a href={`${base}/`} style="display:flex;align-items:center;">
    <img src={`${base}/assets/logost.png`} alt="Schooltuin Leiderdorp" style="height:50px;" />
  </a>

  <HamburgerMenu />
</header>
